{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="row mt-5">
    {{form_start(form)}}
    <div class="alert alert-error" role="alert">
        {{form_errors(form)}}
    </div>
    {{form_row(form.username, {'attr' : {'class': 'form-control', 'id' : 'username'}})}}
    {{form_row(form.password.first, {'attr' : {'class': 'form-control', 'id': 'password'}})}}
    {{form_row(form.password.second, {'attr' : {'class': 'form-control', 'id': 'confirm_password'}})}}
    {{form_row(form.email, {'attr' : {'class': 'form-control', 'id': 'email'}})}}
    <input type="submit" class="btn btn-primary mt-3" value="Register">
    {{form_end(form)}}
</div>
{% endblock %}